* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}



img{
    width: 100px;
    height: 100px;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}
.logo{
    display: flex;
    align-items: center;
    text-align: center;
}
.logo .text1{
    color: gray;
    font-size: 10px;
}
.logo .text2{
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
}


h2{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.reg-no{
    text-align: left;
    font-size: 16px;
}



#first-table {
    border: 1px solid black;
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}
.first-th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: skyblue;
    color: black;
    font-weight: bold;
}

#second-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid black;
}
#second-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: skyblue;
    color: black;
}




.third-section {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    background-color: white;
    padding: 20px;
    border: 1px solid black;
}

.fees-table, .refund-table {
    width: 48%;
}

.fees-table th{
    background-color: skyblue;
    padding: 12px;
    color: black;
    font-weight: bold;
    border: 1px solid black;
    
}

.fees-table td {
    padding: 8px;
    border: 1px solid black;
}
.refund-table ul li {
    padding: 8px 0;
}


footer {
    padding: 12px;
    text-align: center;
    background-color: skyblue;
    font-weight: bold;
    margin-top: 20px;
}